/* Reset default margin and padding */


/* * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
} */


/* Header container */


/* .header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 10px 20px;
    background-color: #333;
    color: white;
/* } */


/* Left section of the header */


/* .header-left {
    font-size: 1.5em;
} */


/* Right section of the header */


/* 
.header-right {
    display: flex;
    gap: 15px;
    /*Adds space between the links */


/* } */


/* 
*/


/* /*Styling for the links  */


/* .header-link {
    color: white;
    text-decoration: none;
} */


/* .header-link:hover {
    text-decoration: underline;
}
/*   */

.input {
    display: flex;
    width: 90%;
    position: relative;
    align-items: center;
}